/* COLORS:
  accent: dc3522
  light: d9cb9e
  mid:374140
  dark: 2a2c2b
  black: 1e1e20
*/
body { 
  margin: 0;
  font-family:'Roboto Slab';
  background: #080d11;
  color: #fff;
}
/*--Header--*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 99;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #203341;
}
.header li {
  float: left;
  font-family: 'Permanent Marker';
  font-size: 1.1em;
  border-right: 1px solid #fff;
}
.header li a {
  display: block;
  color: #fff;
  text-align: center;
  width: 100px;
  padding: 14px 16px;
  text-decoration: none;
}
.header li a:hover:not(.active) {
  background-color: #5e8ca4;
  color: #2a2c2b;
}
#rightend {
  border-right: 0;
  border-left: 1px solid #fff;
}
.active {
  background-color: #640d14;
}
/*--Footer--*/
.footer {
  position: fixed;
  bottom: 0px;
  padding: 0 15px;
  margin-left: 10px;
  display: block;
  background: #2a2c2b;
  height: 20px;
  -webkit-transition: height .4s;
  transition: height .4s;
}
.footer:hover {
	height: 50px;
}
.footer p {
	display: block;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	color: #dc3522;
	padding-top: 1px;
	margin-top: 0;
}
.footer:hover p {
	display: none;
}
.footer a:link, a:visited {
  font-size: 40px;
  color: #fff;
  opacity: .30;
}
.footer a:hover {
  opacity: 1;
}
.footer h1 {
  float: right;
  font-weight: bold;
  font-family: 'Titillium Web';
  padding-left: 8px;
  font-size: 25px;
  margin-top: 9px;
}
/*--Pages--*/
.spacer {
	height:55px;
}
.content {
  background: #121921;
  height: 100%;
  width: 980px;
  margin: 0 auto;
  padding: 40px 20px;
}
.content h1, .content h2, .content h3 {
  background: #2a2c2b;
  color: #fff;
  padding: 5px 25px;
}
.content h2 {
  margin-left: 25px;
}
.content p {
  font-family:'Roboto Slab';
  margin-left: 25px;
}
/*--Home--*/
.banner {
  max-width: 100%;
  height: 520px;
  background-image:url(https://static.pexels.com/photos/289367/pexels-photo-289367.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.headerholder {
  height: 55px;
}
.boxcontainer {
  margin-top: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "big med1"
  "big med2";
  grid-gap: 25px;
}
.bottomboxes{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.box {
  background-size: 200%;
  background-position: center;
  -webkit-transition: background-size .3s ease-out;
  transition: background-size .3s ease-out;
  margin: 0;
}
#regionmap {
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/4b/Raisz_1941_Olympic_Peninsula_Puget_Sound.png);
  grid-area: big;
  width: 645px;
  height: 550px;
}
.box:hover, #regionmap:hover {
  background-size: 100%;
  cursor: pointer;
}
.sleeve {
  height: 100%;
  position: relative;
  bottom: 0px;
  width:100%;
}
.fullscreen-sleeve {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}
.sleeve h1, .sleeve h2, .sleeve h3 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  opacity: .8;
  text-align: right;
}
.sleeve h2 {
	padding: 5px 10px;
}
#rolesbox{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/6/64/The_Independent_Beggar.jpg);
  background-size: 150%;
  background-position: center;
}
#rolesbox:hover {
  background-size: 102%;
}
#ritesbox {
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/2/22/Still_Life_with_a_Skull_and_a_Writing_Quill_MET_DP145929.jpg);
  grid-area: med2;
}
#ritesbox:hover {
  background-size: 120%;
}
#box3, #box4, #box5, #box6 {
  background: #5e8ca4;
  width: 230px;
  height: 180px;
}
/*--MODALS--*/
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
	padding-top:10vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
	margin: auto;
    padding: 20px;
    border: 1px solid #888;
	border-radius: 15px;
    width: 80%;
	height: 80%;
}
.modal-content h2 {
	color: #333;
	padding-left: 50px;
}
#modalmap {
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/4b/Raisz_1941_Olympic_Peninsula_Puget_Sound.png);
}
#modalrole {
  background: #fff
}
#modalrite {
  background: #fff
}
#back {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
#back:hover, #back:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*--Play--*/
.gamebox {
  background: #2a2c2b;
  height: 600px;
}
/*--Rules--*/
/*--Register--*/
.formcontainer {
  width: 640px;
  height: auto;
  padding: 20px;
  background: #2a2c2b;
  margin-left: auto;
  margin-right: auto;
}
.formcontainer h1 {
  background: #5e8ca4;
}
.col-25 {
  float: left;
  width: 25%;
  height: 100%;
  margin-top: 25px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #374140;
  outline: none;
}
input[type=text], select {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
select {
  font-weight:bold;
}
input[type=text]:focus, select:focus {
    border: 3px solid #d9cb9e;
}
input[type=submit] {
  margin-top: 20px;
  float:right;
  padding: 12px;
  font-family:'Permanent Marker';
  font-weight:bold;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
}
input[type=submit]:hover {
  background: #640d14;
  color: #eee;
  cursor: pointer; 
}
/*--Login--*/
